/*-----------------------------------------------------------------------------------
CSS INDEX
===================
1. Google font
2. Theme Default CSS
3. Helper-class
4. Button-style
5. Mainmenu-area
6. Section-Background
7. Header-style
8. Headline-style
9. Skills-area
10. Service-area
11. Work-area
12. Team-area
13. Bar-effect-css
14. Masp style
15. Form-style
16. Scroll-To-Top-Button
17. Preloader-css
-----------------------------------------------------------------------------------*/

/*-----------------
1. Google font
------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*-------------------
2. Theme Default CSS
--------------------*/

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #333333;
}

input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: #515656;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/**
*Helper-Classes
**/

.full-height {
    width: 100%;
    height: 100vh;
}

.relative {
    position: relative;
}

.fixed,
.absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.fixed {
    position: fixed;
}

.v-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.section-padding {
    padding: 120px 0;
}

.section-menu {
    padding: 43px 0;
}

.pd-top {
    padding-top: 45px;
}

.social-menu {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.social-menu li {
    display: inline-block;
    margin: 0 3px;
}

.social-menu li a {
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 2.5em;
    background-color: #ffffff;
    color: #138fc2;
    border-radius: 100px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.social-menu li a:hover {
    background-color: #138fc2;
    color: #ffffff;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
}

/**
*Default Background Class
**/

.overlay:before,
.sky-bg {
    background: #75cbe7;
    background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#138fc2));
    background: linear-gradient(to bottom, #75cbe7 0%, #138fc2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#138fc2', GradientType=0);
    color: #ffffff;
}

.gray-bg {
    background-color: #f2fefe;
}

.navbar-bg {
    background: linear-gradient(to right, #0788d6 20%,#7f068b 93%);
    background: -webkit-linear-gradient(left, #0788d6 20%,#7f068b 93%);
    background: -moz-linear-gradient(left, #0788d6 20%, #7f068b 93%);
}

/**
*Default Button
**/

.button {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #2f60c3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: none;
    -webkit-box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 20px -5px rgba(0, 0, 0, 0.1);
}

.button.white,
.button:hover {
    background-color: #ffffff;
    color: #138fc2;
}

.button.white:hover {
    background-color: #2f60c3;
    color: #ffffff;
}

.button i {
    margin-left: 5px;
}

/**
*Page title
**/

.page-title {
    margin-bottom: 30px;
    padding: 0px 15px;
}

.page-title h2 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.page-title h2:after {
    content: "\e675";
    font-family: 'themify';
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -10px;
    width: 15px;
    height: 15px;
    font-size: 14px;
}

.page-title2 {
    margin-bottom: 30px;
}

.page-title2 h2 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.page-title2 h2:after {
    content: "";
    display: block;
    height: 4px;
    width: 40px;
    background-color: #6195FF;
    margin-top: 20px;
}

/**
*Box-style
**/

.box {
    padding: 50px 30px;
    text-align: center;
    -webkit-box-shadow: 0 0 0 0 #ffffff;
    box-shadow: 0 0 0 0 #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.box:hover {
    -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.box h4 {
    text-transform: uppercase;
}

.box .box-icon {
    height: 160px;
    margin-bottom: 20px;
}

.box .box-icon img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.box:hover .box-icon img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0)
}

/**
*Mainmenu-area
**/

.mainmenu-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.overlay,
.overlay a,
.mainmenu-area a {
    color: #ffffff;
}

.mainmenu-area .logo {
    text-transform: uppercase;
    letter-spacing: 2px;
    height: inherit;
    margin-top: 8px;
    padding-left: 0;
}

.mainmenu-area .logo h2 {
    margin-bottom: 0;
}

.mainmenu-area #primary-menu > ul > li > a {
    background: none;
    padding: 30px 15px;
    position: relative;
    border-top: 3px solid transparent;
    text-align: center;
}

.mainmenu-area #primary-menu > ul > li > a:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -10px;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #ffffff;
    opacity: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.mainmenu-area #primary-menu > ul > li > a:hover:before,
.mainmenu-area #primary-menu > ul > li.active > a:before {
    opacity: 1;
    top: 0;
}

.mainmenu-area #primary-menu ul li.active a,
.mainmenu-area #primary-menu ul li a:hover{
    border-top: 3px solid #ffffff;
}

.mainmenu-area.affix {
    /* background-color: #1e3163; */
    background: linear-gradient(to right, #ffffff 3%,#0788d6 20%,#7f068b 93%);
}

.mainmenu-area .logo img {
    margin-bottom: 0;
    height: inherit;
    margin-top: 0;
    padding-left: 0;
}




/**
*Header-area
**/

.client-area,
.header-area {
    background: #000000 url('images/parallaxbg-1.jpg') no-repeat scroll center center / cover;
}

.anlge-bg {
    background: url('images/angle-bg.png') no-repeat scroll center bottom -120px / 100% auto;
}

.overlay {
    position: relative;
}

.overlay:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8
}

.header-text h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.header-text .button {
    margin-top: 30px;
}

.screen-slider .item {
    /* background: url('images/bookcover.jpg') no-repeat scroll center center / auto 100%; */
    padding: 50px 60px;
    display: inline-block;
    margin: auto;
}

.screen-slider.owl-carousel .owl-item {
    text-align: center
}

.screen-slider .owl-controls {
    position: absolute;
    left: 0;
    top: 100%;
}

.screen-slider .owl-controls .owl-nav > div {
    display: inline-block;
    margin: 0 15px;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.screen-slider .owl-controls .owl-nav {
    position: relative;
    margin-top: 0;
}

.screen-slider .owl-controls .owl-nav:after {
    content: "/";
    position: absolute;
    left: 50%;
    top: 12px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

/**
*Caption-slider
**/

.caption-slider .carousel-indicators {
    position: static;
    margin: 30px auto 0 auto;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.caption-slider .carousel-indicators li {
    float: left;
    padding-top: 20px;
    padding-right: 30px;
    cursor: pointer;
    position: relative;
    list-style: none;
}

.caption-slider .carousel-indicators li:before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    opacity: 0;
}


.caption-slider .carousel-indicators li.active:before {
    opacity: 1;
}

.caption-slider .carousel-indicators li strong {
    display: block;
}

.caption-slider h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.caption-slider .button {
    margin-bottom: 30px;
}

.caption-slider .caption-photo {
    display: inline-block;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1)
}

.caption-slider .caption-photo.two {
    margin-top: 60px;
}

.caption-slider .caption-title {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}

.caption-slider .caption-desc {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s
}

.caption-slider .caption-button {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s
}

.caption-slider .caption-photo.one {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.caption-slider .caption-photo.two {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}


/***
*Team-Section
***/

.single-team {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    color: #515656;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.single-photo {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    color: #515656;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 30px -10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.single-team:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

.single-team .team-photo {
    margin-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.single-team .team-photo img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.single-team:hover .team-photo img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.single-team h4 {
    text-transform: uppercase;
}

.single-team h6 {
    margin-bottom: 20px;
}

.single-team .social-menu {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    padding: 23px 10px;
    background-color: #ffffff;
}

.single-team:hover .social-menu {
    bottom: 0;
}

/***
*Testimonial-Page
***/

.testimonial-area {
    background: url('images/parallax-7.jpg') no-repeat scroll center center / cover;
    position: relative;
    color: #ffffff;
}

.testimonial-area:before {
    opacity: 0.9
}

.testimonial {
    text-align: center;
}

.testimonial .testimonial-photo {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 30px;
    border-radius: 50%;
    -webkit-box-shadow: 5px 10px 30px -10px rgba(255, 255, 255, 0.5);
    box-shadow: 5px 10px 30px -10px rgba(255, 255, 255, 0.5);
    position: relative;
}

.testimonial .testimonial-photo:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
}

.testimonials.owl-carousel .owl-controls .owl-nav {
    text-align: center;
}


/***
*Price-area
***/

.price-area {
    background: url('images/parallax-6.jpg') no-repeat scroll center center / cover
}

.price-table h3 {
    margin-bottom: 30px;
}

.price-table {
    padding: 50px 40px;
    border-radius: 2px;
    text-align: center;
    background-color: #ffffff;
    color: #515656;
    position: relative;
    margin-top: 20px
}

.price-table.active {
    padding: 70px 40px;
    margin-top: 0
}

.price-table ul {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}

.price-table ul li {
    padding: 5px 0;
}

.price-table .price-info {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #55A2BE;
    color: #ffffff;
    border-radius: 0 0 50% 50%;
    padding-bottom: 5px;
}

/**
*Accordion
**/

#accordion .panel {
    background: none;
}

#accordion .panel .panel-title {
    padding: 30px 0 30px 60px;
    position: relative;
}

#accordion .panel .panel-collapse {
    /* padding-left: 60px; */
}

#accordion .panel .panel-title a span:after,
#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span {
    content: '';
    position: absolute;
    left: 0;
    top: 20px;
    width: 36px;
    height: 36px;
    background: #2f60c3;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}


#accordion .panel .panel-title a span:before,
#accordion .panel .panel-title a span:after {
    width: 10px;
    height: 1px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

#accordion .panel .panel-title a span:before {
    -webkit-transform: translate(-50%) rotate(90deg);
    transform: translate(-50%) rotate(90deg)
}

#accordion .panel .panel-title a[aria-expanded="true"] span:before {
    -webkit-transform: translate(-50%) rotate(0deg);
    transform: translate(-50%) rotate(0deg)
}

/****
*Blog-area
*****/

.single-blog {
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 15px 50px -10px rgba(0, 0, 0, 0.1);
}

.single-blog h3 {
    font-size: 18px;
}


.single-blog .blog-meta {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

.single-blog .blog-meta li {
    display: inline-block;
    margin-right: 15px;    
}

.single-blog .blog-meta li span {
    margin-right: 5px;
    color: #4a89dc;
}

.single-blog .blog-content {
    padding: 40px 20px;
    background-color: #ffffff;
}

.single-blog .blog-content a {    
    color: #138fc2;
}


/***
*Footer-area
***/

.footer-area {
    padding-top: 120px;
    z-index: 1;
}

.footer-bg {
    background: url('images/angle-bg.png') no-repeat scroll center bottom / 100% auto;
    z-index: -1;
}

.footer-top {
    margin-bottom: 150px;
}

.side-icon-box {
    margin-bottom: 30px;
    position: relative;
    padding-left: 80px;
}

.side-icon-box a {
    color: #ffffff;
}

.side-icon-box .side-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
}

.side-icon-box strong {
    display: block;
    margin-bottom: 10px;
}

.footer-middle {
    margin-bottom: 60px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 25px;
    padding-bottom: 15px;
}

/***
*Contact-form
****/

.contact-form .button {
    letter-spacing: 2px;
    min-width: 150px;
    margin-top: 10px;
    border-radius: 3px;
}

.form-control {
    margin-bottom: 20px;
    height: auto;
    padding: 12px 20px;
}

.form-double input {
    width: calc(50% - 10px);
    float: left;
}

.form-double input:last-child {
    float: right;
}

/*-----------
preloader
------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #75cbe7;
    background: -webkit-gradient(linear, left top, left bottom, from(#75cbe7), to(#138fc2));
    background: linear-gradient(to bottom, #75cbe7 0%, #138fc2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75cbe7', endColorstr='#138fc2', GradientType=0);
    z-index: 99999999999;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%,
    10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/* Login CSS */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

.tab-style {
    font-size: 20px;
    width: 50%;
    background-color: #f2f2f2;
    text-align: center;
}
.nav-tabs > li > a {
    margin-right: 0px;
    color:grey;
}

.group2 { 
    position: relative; 
    margin-top: 36px; 
}

.btn-block {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #e5ecf4;
    color: #4a89dc;
}

.login-shadow {
    -webkit-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
    -moz-box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
    box-shadow: 5px -5px 6px 0px rgba(82, 82, 82, 0.52);
    z-index: 1;
}

.signup-shadow {
    -webkit-box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
    -moz-box-shadow: -5px -5px 6px 0px rgba(82, 82, 82, 0.52);
    box-shadow: -5px 0px 6px 0px rgba(82, 82, 82, 0.52);
}

.modal-header {
    background-color: #e5ecf4;
}

.group { 
    position: relative; 
    margin-top: 50px; 
}


.input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: none;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.input:focus {
    outline: none;
}

/* Label */

.label {
    color: #757575; 
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: -10px;
    top: 10px;
    transition: all 0.2s ease;
}
.label2 {
    color: #757575;
    font-size: 18px;
    font-weight: normal;
    position: relative;
}


/* active */
.input:focus~.label,
.input.used~.label {
    top: -20px;
    transform: scale(.75);
    left: -15px;
    /* font-size: 14px; */
    color: #4a89dc;
}


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #4a89dc; 
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active */
.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

/* Highlight */

.highlight {
    position: absolute;
    height: 60%; 
    width: 100px; 
    top: 25%; 
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}


/* active */

.input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}


@media  screen and (max-width: 767px) and (min-width: 576px){
  #myModal{margin-left:20%;
            margin-right:20%;}

  #forgot-password{margin-left:20%;
            margin-right:20%;}
} 


@media screen and (min-width: 768px) {
    
#myModal .modal-dialog  {width:500px; margin: 100px auto;}
  
#forgot-password .modal-dialog{width:500px; margin: 100px auto;}
  
.modal-body{
    padding-left:50px;
    padding-right:50px;}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    img {
        max-width: 100%;
    }
    
    .logo img {
        max-width: 220px;
    }

    .section-menu{
        padding: 35px;
    }

    .pd-top{
        padding-top: unset;
    }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    img {
        max-width: 100%;
    }
    
    .logo img {
        max-width: 300px;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1400px) {
    img {
        max-width: 100%;
    }

    .logo img {
        max-width: 320px;
    }
}


@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        margin-top: 20px;
        display: block;
    }

    .icon-bar {
        background-color: #fff;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.modal-body{background-image:url('http://res.cloudinary.com/rinma/image/upload/v1500489833/Airplane-flying-desktop-pictureproba2_rlcced.jpg');
background-size:cover;
z-index:4;}

em{display:none;}

/* pengurus class */
.pengurus .owl-item {
    width: 300px;
    margin-right: 20px;
}

/* tentang */
.feature {
    margin: 15px 0px;
}
.feature i {
    float: left;
    padding: 5px;
    border-radius: 50%;
    color: #6195FF;
    border: 1px solid #6195FF;
    margin-right: 5px;
}

.stat-count {
    position: relative;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 2px solid #6195FF;
}

.stat-count h3 {
    font-size: 42px;
    margin: 0px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
}

.header-wrapper h2 {
    display: inline-block;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb {
    float: right;
    background: transparent;
    margin-bottom: 0px;
}

.header-wrapper .breadcrumb .breadcrumb-item.active {
    color: #868F9B;
}

.breadcrumb>li+li:before {
    color: #868F9B;
}

/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* helpers */

.t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rel {
    position: relative;
}

/* book */

.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book .page {
    height: 100%;
}

.book .page img {
    max-width: 100%;
    height: 100%;
}

.home-text{
    padding-top:15%;
}

.home-image{
    padding-top:7%;
}

.swal-button--confirm{
    color: #fff !important;
}

.m-t-20{
    margin-top:20px;
}

.m-b-20{
    margin-bottom:20px;
}