body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .accordion {
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .accordion-header,
  .accordion-body {
    background: white;
  }
  
  .accordion-header {
    padding: 1.5em 1.5em;
    background: #3F51B5;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font-size: .8em;
    letter-spacing: .1em;
    transition: all .3s;
  }

  .txt-center {
    text-align: center;
  }
  
  .accordion-header:hover {
    background: #2D3D99;
    position: relative;
    z-index: 5;
  }
  
  .accordion-body {
    background: #fcfcfc;
    color: #3f3c3c;
    display: none;
  }
  
  .accordion-body__contents {
    font-size: .85em;
  }
  
  .accordion__item.active:last-child .accordion-header {
    border-radius: none;
  }
  
  .accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
  }
  
  .accordion__item > .accordion-header:after {
    content: "\f3d0";
    font-family: IonIcons;
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: .3s all;
    transform: rotate(0deg);
  }
  
  .accordion__item.active > .accordion-header:after {
    transform: rotate(-180deg);
  }
  
  .accordion__item.active .accordion-header {
    background: #2D3D99;
  }
  
  .accordion__item .accordion__item .accordion-header {
    background: #f1f1f1;
    color: black;
  }
  
  @media screen and (max-width: 767px) {
    .accordion {
      width: 100%;
    }
    .mg20 {
        margin-top: 50px;
    }
  }

  /* helpers */

  .t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rel {
    position: relative;
}

/* book */

.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book .page {
    height: 100%;
}

.book .page img {
    max-width: 100%;
    height: 100%;
}

.txt-uppercase {
    text-transform: uppercase;
}

/* panel search & bookmark */
.panel {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

.search {
  border-top: 3px solid seagreen;
}

.bookmark {
  border-top: 3px solid skyblue;
}


.panel a:hover{
  color: mediumseagreen;
}

.panel ul {
  transition: 0.3s;
  margin-top: 15px;
}

.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-app{
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 12px;
}

.remark-book{
  margin-top: 20px;
  font-size: 13px;
  color: #f16161;
}

.zoom-button{
  position: absolute;
  z-index: 3000;
  text-align: center;
  width: 66px;
  height: 20px;
  padding: 0px;
  top: 2%;
}