.home-slider .item img{
    max-width: 60%;
}

.about-slider {
    margin-top:64px;
}

.owl-stage {
    flex-wrap: wrap;
    display: flex !important;
}

.owl-stage .owl-item{
    flex: 1;
}

.owl-stage .owl-item .item{
    height: 100%;
}

.owl-stage .owl-item .item .single-team{
    height: 100%;
}

.blog-row {
    flex-wrap: wrap;
    display: flex;
}

.blog-row .blog-col{
    flex: 1;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgb(110, 199, 228);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2000;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(30, 49, 99,0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.t {
    display: table;
    width: 100%;
    height: 100%;
}

.tc {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rel {
    position: relative;
}

/* book */

.book {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.book .page {
    height: 100%;
}

.book .page img {
    max-width: 100%;
    height: 100%;
}

.book .loader{
    background-image:url(../book-preview/pics/loader.gif);
    width:22px;
    height:22px;
    position:absolute;
    top:50%;
    left:50%;
}

.search-form{
    list-style: none;
    padding:0px;
}

.side-icon-box{
    overflow-wrap: break-word;
}

.single-team .role{
    margin-bottom: 0px;
    margin:0px 5px;
}

.single-team .division{
    margin:5px 5px;
    margin-bottom:20px;
    color: #0673ff;
}